<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>Pizza.co</title>
</head>
<body id="body">

	<header>
		<nav>
			<a href="/"><img src="images/logo.png"></a>
			<ul>
				<li><a href="/menu">Menu</a></li>
				<li><a href="/about" style="border-Bottom: 2px rgba(255,255,255,.8) solid; padding-bottom: .7em;">About us</a></li>
				<li><a href="/contact" >Contacts</a></li>
				<li><a href="/" id="sign-up">Sign in</a></li>
			</ul>
		</nav>
	</header>

	<section class="about">
		<h2>About Us</h2>
		<div class="content">
			<img src="images/aboutImg.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</section>

	<footer>
		<div class="contactUs">
			<span>Contact Us</span>
			<div class="phone">
				<img src="images/phone.png">
				<span>09085901651</span>
			</div>
			<div class="mail">
				<img src="images/mail.png">
				<a href="#">ryanvillarma148@gmail.com</a>
			</div>
		</div>
		<div class="disclaimer">
			<a href="#">Disclaimer</a>
			<a href="#">Privacy Policies</a>
			<a href="#">Terms of Use</a>
		</div>
		<div class="aboutUs">
			<a href="#">ABOUT US</a>
			<a href="#">Our History</a>
			<a href="#">Our Locations</a>
		</div>
		<div class="FAQ">
			<a href="#">FAQ</a>
			<a href="#">Send Feedback</a>
		</div>
		<div class="myAccount">
			<span>My Account</span>
			<a href="#">Sign up</a>
			<a href="#">Sign in</a>
		</div>
		<div class="security">
			<a href="#">Security</a>
			<a href="#">Help Center</a>
		</div>
		<div class="socials">
			<span>Social Links</span>
			<div class="trends">
				<a href="#"><img src="images/fb.png"></a>
				<a href="#"><img src="images/instagram.png"></a>
				<a href="#"><img src="images/twitter.png"></a>	
			</div>
		</div>
		<a href="/"><img src="images/logo.png"></a>
	</footer>
</body>
</html>