<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<title>Pizza.co</title>
</head>
<body id="body">

	<header>
		<nav>
			<a href="/"><img src="images/logo.png"></a>
			<ul>
				<li><a href="#">Menu</a></li>
				<li><a href="/about">About us</a></li>
				<li><a href="/contact">Contacts</a></li>
				<li><a href="/" id="sign-up">Sign in</a></li>
			</ul>
		</nav>
	</header>

	<section class="register">
		<h2>Register</h2>
		<div class="firstname">
			<label>First Name:</label>
			<input type="text">
		</div>	
		<div class="lastname">
			<label>Last Name:</label>
			<input type="text">
		</div>
		<div class="contactnumber">
			<label>Contact Number:</label>
			<input type="text">
		</div>
		<div class="email">
			<label>Email:</label>
			<input type="email">
		</div>			
		<div class="username">
			<label>Username:</label>
			<input type="text">
		</div>	
		<div class="password">
			<label>Password:</label>
			<input type="password">
		</div>

		<button>Sign up</button>

	</section>

	<section class="agreement">
		<h1>PIZZA.CO</h1>
		<p>By signing up, you agree to our <strong>Terms and Conditions</strong> and <strong>Privacy Policy</strong></p>
	</section>


	<footer>
		<div class="contactUs">
			<span>Contact Us</span>
			<div class="phone">
				<img src="images/phone.png">
				<span>09085901651</span>
			</div>
			<div class="mail">
				<img src="images/mail.png">
				<a href="#">ryanvillarma148@gmail.com</a>
			</div>
		</div>
		<div class="disclaimer">
			<a href="#">Disclaimer</a>
			<a href="#">Privacy Policies</a>
			<a href="#">Terms of Use</a>
		</div>
		<div class="aboutUs">
			<a href="#">ABOUT US</a>
			<a href="#">Our History</a>
			<a href="#">Our Locations</a>
		</div>
		<div class="FAQ">
			<a href="#">FAQ</a>
			<a href="#">Send Feedback</a>
		</div>
		<div class="myAccount">
			<span>My Account</span>
			<a href="#">Sign up</a>
			<a href="#">Sign in</a>
		</div>
		<div class="security">
			<a href="#">Security</a>
			<a href="#">Help Center</a>
		</div>
		<div class="socials">
			<span>Social Links</span>
			<div class="trends">
				<a href="#"><img src="images/fb.png"></a>
				<a href="#"><img src="images/instagram.png"></a>
				<a href="#"><img src="images/twitter.png"></a>	
			</div>
		</div>
		<a href="/"><img src="images/logo.png"></a>
	</footer>



</body>
</html>
